/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Audrey';
    src: url('./Audrey/Audrey-Normal.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



.tagline {
    text-align: center;
    background-color:white;
    color: rgb(0, 48, 73);
    padding: 8px 0;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: rgb(0, 48, 73);
    /* black like inspo */
    padding: 0 20px;
    position: relative;
    opacity: 1;
}


.nav-left {
    display: flex;
    gap: 130px; 
    margin-left: 55px; 
    font-family: 'Audrey';
}


nav ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo {
    position:fixed;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    height: 70px;
    object-fit: contain;
}

#cover-image {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    filter: brightness(0.4);
}

.cover-complete {
    position: relative;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}

#cover-image {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    filter: brightness(0.4);
    display: block;
}

.cover-text {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 48, 73);
    font-size: 56px;
    font-family: 'Audrey', sans-serif;
    text-align: center;
    z-index: 2;
}